* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #442815;
}

body {
    box-sizing: inline-flex;
}

.header {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:  #260a0a;
    color: whitesmoke;
}

.h1 {
    display: inline-block;
    font-size: 36px;
}

.h2 {
    margin-bottom: 20px;
    font-size: 28px;

}
.h3 {
    font-size: 20px;
}

.subheader {
    display: inline-block
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

.header ul {
    list-style-type: none;
}

.header ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

p {
    font-size: 16px;
    color: whitesmoke;
}

.background {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Assets/craiyon_192407_Woodworking_bench___Computer_code_in_background_.png");
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    padding: 2%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    color: #fff;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 20vh;
    margin: 0 auto;
    border-style: solid;
    border-width: 2px;
}

.card header {
    padding: 20px;
    background: #260a0a;
    color: #fff;
}

.card.me {
    flex: 2 1 900px;
    justify-content: top;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}